* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Typography */

/* Typography - Welcome Page */

.title {
  font-family: 'Karla';
  font-size: 2rem;
  text-align: center;
  color: #293264; 
}

.description {
  font-family: 'Inter';
  text-align: center;
  color: #293264;
}

.start-button-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  color: #F5F7FB;
}

/* Typography - Quiz */

.question {
  font-family: 'Karla';
  font-size: 1.3rem;
  color: #293264;
}

.btn-answer-text {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 0.8rem;
  color: #293264;
}

/* Typography - Btn */

.btn-check-text {
  font-family: 'Inter';
  font-size: 1rem;
  text-align: center;

  color: #F5F7FB;
}

.score {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 1rem;
  text-align: center;

  color: #293264;
}

/* Layout */

body {
  background-color: #F5F7FB;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Layout - Welcome Page */

.welcome-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0;
}

.description {
  margin: 1em 0 2em 0;
}

.start-button {
  background: #4D5B9E;
  border-radius: 15px;
  border: none;
  padding: 1.5em 5em;
  cursor: pointer;
}

/* Layout - Quiz */

.quiz-container {
  max-width: 90%;
  margin: 0 auto;
}

.answers {
  display: flex;
  justify-content: space-between;
}

.btn-answer {
  border: 0.771045px solid #4D5B9E;
  border-radius: 7.71045px;
  padding: 0.3em 0.7em;

  cursor: pointer;
}

.btn-answer-selected {
  background: #D6DBF5;
  border: 0.771045px solid #D6DBF5;
  border-radius: 7.94239px;

  cursor: pointer;
}

.btn-answer-selected-correct {
  background: #94D7A2;
  border: 0.771045px solid #94D7A2;
  border-radius: 7.94239px;
}

.btn-answer-selected-wrong {
  background: #F8BCBC;
  border: 0.771045px solid #F8BCBC;
  border-radius: 7.94239px;
}

.btn-answer-not-selected {
  border: 0.771045px solid #4D5B9E;
  border-radius: 7.71045px;
  opacity: 0.5;
}

.break-line {
  border: 0.794239px solid #DBDEF0;
  width: 100%;
}

/* Layout - Btn */

.btn-div {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 2.5em;
}

.btn-check {
  background: #4D5B9E;
  border-radius: 10px;
  border: none;
  padding: 0.8em 1.5em;

  cursor: pointer;
  margin-left: 2em;
}